pytest
coverage
c
matplotlib==3.5.1
datasets==2.14.5
numpy==1.23.5
toml==0.10.2
torch==2.0.1
transformers==4.33.3
urllib3_secure_extra==0.1.0
zipp==3.13.0
zstandard==0.21.0
sacrebleu==2.3.1
accelerate==0.23.0
python-dotenv==0.19.2
-e .
typing==3.7.4.3
sentencepiece
omegaconf~=2.1.1
src~=0.1.0
setuptools~=60.2.0
hydra-core
wandb
dvc
dvc[gs]
pytest